.site-head {
    padding-block: 2em;
    display: grid;

    :last-child {
        justify-self: end;
    }
}

.site-feet {
    padding-block: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-post {
    --flow-spacer: 1.5em;

    header,
    footer {
        margin-block: 2em;
    }

    footer span {
        display: block;
        font-size: 1.2em;
    }
}

.tag {
    display: inline-block;
    @extend .bg-primary-400;

    a {
        display: block;
        padding: .5rem 1rem;
        @extend .clr-neutral-400;
        text-decoration: none;
    }
}

.card {
    padding: 2em 1.5em;
    border: 2px dashed map-get(map-get($colors, "text"), 400);

    img {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        object-position: center;
    }
}

.social-links {
    --side-by-side-spacer: 2em;
}

.nameplate {
    h1 {
        font-size: 4em;
    }

    p {
        font-size: 2em;
    }
}

.home {
    --flow-spacer: 2em;

    padding-block: 2em;

    img {
        border: 2px dashed map-get(map-get($colors, "text"), "400");
        padding: .5em;
    }
}

.btn {
    text-decoration: none;
    @extend .bg-primary-400;
    @extend .clr-neutral-400;
    padding: 1em 2em;

    font-weight: bold;
}