.site-head {
    padding-block: 2em;
    display: grid;

    :last-child {
        justify-self: end;
    }
}

.site-feet {
    padding-block: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-post {
    --flow-spacer: 1.5em;

    header,
    footer {
        margin-block: 2em;
    }

    footer span {
        display: block;
        font-size: 1.2em;
    }
}

.tag {
    display: inline-block;
    @extend .bg-primary-400;
    @extend .clr-neutral-400;

    a {
        display: block;
        padding: .25rem 1rem;
        color: inherit;
        text-decoration: none;
    }
}

.card {
    padding: 2em 1.5em;
    border: 2px dashed map-get(map-get($colors, "text"), 400);
}

.social-links {
    display: flex;
    gap: 2em;

    a {
        @extend .clr-text-400;

        &:hover {
            @extend .clr-accent-400;
        }
    }
}