$colors: ("primary": ("400": #2D3047),
        "accent": ("400": #FFB470),
        "text": ("400": #030303),
        "neutral": ("400": #FAFAFA));

$size-base: 1rem;

$sizes: ("300": $size-base * 0.8,
        "400": $size-base,
        "500": $size-base * 1.33,
        "600": $size-base * 1.77,
        "700": $size-base * 2.4);

@each $name, $weights in $colors {
    @each $weight, $val in $weights {
        :root {
            --clr-#{$name}-#{$weight}: #{$val};
        }

        .bg-#{$name}-#{$weight} {
            background-color: $val;
        }

        .clr-#{$name}-#{$weight} {
            color: $val;
        }
    }
}

@each $weight, $val in $sizes {
    .text-#{$weight} {
        font-size: $val;
    }
}