body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3 {
    font-family: "Anton", serif;
    line-height: 1.2;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

svg {
    display: block;
    width: 2rem;
    height: 2rem;
}

a {
    display: inline-block;
}

pre {
    overflow-x: scroll;

    code {
        display: inline-block;
        margin: 1em;
    }
}

:focus {
    outline-width: 2px !important;
    outline-style: dashed !important;
    outline-color: map-get(map-get($colors, "text"), "400") !important;
    outline-offset: 8px !important;
}