.wrapper {
    padding-inline: 2rem;
    max-width: 70ch;
    margin-inline: auto;
}

.flow > * + * {
    margin-block-start: var(--flow-spacer, 1em);
}

.splitter {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.columns {
    display: flex;
    gap: 2em;

    > * {
        width: 100%;
    }
}

.side-by-side {
    display: inline-flex;
    flex-wrap: wrap;
    gap: var(--side-by-side-spacer, 1em);
}

.unstyled-btn {
    all: unset;
    cursor: pointer;
}

.partial-underline {
    &::after {
        content: "";
        display: block;
        width: 30%;
        height: 16px;
        margin-block-start: .25em;
        @extend .bg-accent-400;
    }
}