.wrapper {
    padding-inline: 2rem;
    max-width: 70ch;
    margin-inline: auto;
}

.flow > * + * {
    margin-block-start: var(--flow-spacer, 1em);
}

.side-by-side {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}