.wrapper {
    padding-inline: 2rem;
    max-width: 70ch;
    margin-inline: auto;
}

.flow > * + * {
    margin-block-start: var(--flow-spacer, 1em);
}

.splitter {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.side-by-side {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.invis-btn {
    padding: .5em;
    border: none;
    background: none;
    cursor: pointer;

    svg {
        display: block;
    }
}