<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>southcity.dev</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton|Roboto">

    {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">

    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body class="wrapper | bg-neutral-400 clr-text-400">
    
    <header class="site-head">
        <button class="invis-btn">
            <i data-feather="menu"></i>
        </button>
    </header>

    {{ block "main" . }}
    {{ end }}

    <footer class="site-feet">
        <ul class="social-links" role="list">
            {{ range .Site.Data.contact.link }}
            <li>
                <a href="{{ .url }}" aria-label="{{ .name }}">
                    <i data-feather="{{ .icon }}"></i>
                </a>
            </li>
            {{ end }}
        </ul>
        <small>
            Copyright &copy; Stian Sørby <time datetime="{{ .Date.Year }}">{{ .Date.Year }}</time>
        </small>
    </footer>

    <script>
        feather.replace()
    </script>

</body>
</html>