<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>southcity.dev</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton|Roboto">

    {{/*  {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">  */}}

    {{ $stylesheet := resources.Match "css/*.css" | resources.Concat "css/bundle.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $stylesheet.RelPermalink }}" integrity="{{ $stylesheet.Data.Integrity }}">

    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body class="wrapper | bg-neutral-400 clr-text-400">

    <header class="site-head">
        <button class="unstyled-btn">
            <i data-feather="menu"></i>
        </button>
    </header>

    {{ block "main" . }}
    {{ end }}

    <footer class="site-feet">
        <ul class="social-links | side-by-side" role="list">
            {{ range .Site.Data.contact.link }}
            <li>
                <a class="unstyled-btn" href="{{ .url }}" aria-label="{{ .name }}">
                    <i data-feather="{{ .icon }}"></i>
                </a>
            </li>
            {{ end }}
        </ul>
        <small>
            {{ with now.Year }}
            Copyright &copy; Stian Sørby <time datetime="{{ . }}">{{ . }}</time>
            {{ end }}
        </small>
    </footer>

    <script>
        feather.replace()
    </script>

    <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
    </script>

</body>
</html>