{{ define "main" }}
<main class="flow">
    <h1 class="partial-underline">{{ .Title }}</h1>
    <ul role="list" class="flow">
        {{ range .Pages }}
            <li>
                <article class="card | flow">
                    <h2>{{ .Title }}</h2>
                    <p>{{ .Summary }}</p>
                    <div class="side-by-side">
                        {{ range $key, $val := .Params.links }}
                        <a href="{{ $val }}">
                            {{ $key | humanize }}
                        </a>
                        {{ else }}
                        <a href="{{ .RelPermalink }}">
                            Read article
                        </a>
                        {{ end }}
                    </div>
                </article>
            </li>
        {{ end }}
    </ul>
</main>
{{ end }}