{{ define "main" }}
<main class="list-page stack">
    <header class="list-page-header">
        <h1 class="stylish-underline">{{ .Title }}</h1>
    </header>
    <ul role="list" class="list-page-list | stack">
        {{ range .Pages }}
        <li>
            <article class="card | stack">
                {{ if .Params.thumbnail }}
                {{ with .Resources.GetMatch .Params.thumbnail }}
                <img src="{{ .RelPermalink }}" alt="" />
                {{ end }}
                {{ end }}
                <h2>{{ .Title }}</h2>
                <p>{{ .Summary }}</p>
                <footer class="cluster">
                    {{ range .Params.links }}
                    <a href="{{ .url }}">
                        {{ .name | humanize }}
                    </a>
                    {{ else }}
                    <a href="{{ .RelPermalink }}">
                        Read article
                    </a>
                    {{ end }}
                </footer>
            </article>
        </li>
        {{ end }}
    </ul>
</main>
{{ end }}