{{ define "main" }}
<main class="flow">
    <header>
        <time datetime="{{ .Params.Date.Format "2006-01-02" }}">{{ .Params.Date.Format "2006/01/02" }}</time>
        <h1>{{ .Params.Title }}</h1>
        <ul class="side-by-side" role="list">
            {{ range (.GetTerms "tags") }}
            <li class="tag">
                <a href="{{ .RelPermalink }}">
                    {{ .LinkTitle }}
                </a>
            </li>
            {{ end }}
        </ul>
    </header>
    {{ .Content }}
</main>
{{ end }}