{{ define "main" }}
<main class="blog-post">
    <header>
        <time datetime="{{ .Params.Date.Format "2006-01-02" }}">{{ .Params.Date.Format "2006/01/02" }}</time>
        <h1 class="partial-underline">{{ .Title }}</h1>
        <ul class="side-by-side" role="list">
            {{ range (.GetTerms "tags") }}
            <li>
                <span class="tag">
                    <a href="{{ .RelPermalink }}">
                        {{ .LinkTitle }}
                    </a>
                </span>
            </li>
            {{ end }}
        </ul>
    </header>
    <div class="flow">
        {{ with .Resources.GetMatch "thumbnail.png" }}
        <img src="{{ .RelPermalink }}" alt="" />
        {{ end }}
        {{ .Content }}
    </div>
    <footer class="columns">
        <div>
            {{ if .PrevInSection }}
            <span>Previous</span>
            <a href="{{ .PrevInSection.RelPermalink }}">
                {{ .PrevInSection.Title }}
            </a>
            {{ end }}
        </div>
        <div>
            {{ if .NextInSection }}
            <span>Next</span>
            <a href="{{ .NextInSection.RelPermalink }}">
                {{ .NextInSection.Title }}
            </a>
            {{ end }}
        </div>
    </footer>
</main>
{{ end }}