{{ define "main" }}
<main class="blog-post">
    <header>
        <time datetime="{{ .Params.Date.Format "2006-01-02" }}">{{ .Params.Date.Format "2006/01/02" }}</time>
        <h1 class="partial-underline">{{ .Title }}</h1>
        <ul class="side-by-side" role="list">
            {{ range (.GetTerms "tags") }}
            <li>
                <span class="tag">
                    <a href="{{ .RelPermalink }}">
                        {{ .LinkTitle }}
                    </a>
                </span>
            </li>
            {{ end }}
        </ul>
    </header>
    <div class="flow">
        {{ .Content }}
    </div>
    <footer class="splitter">
        <div>
            {{ if .Prev }}
            <span>Previous</span>
            <a href="{{ .Prev.RelPermalink }}">
                {{ .Prev.Title }}
            </a>
            {{ end }}
        </div>
        <div>
            {{ if .Next }}
            <span>Next</span>
            <a href="{{ .Next.RelPermalink }}">
                {{ .Next.Title }}
            </a>
            {{ end }}
        </div>
    </footer>
</main>
{{ end }}