.header,
.footer {
    padding-block: var(--scale-2);
}

.footer ul {
    --cluster-space: var(--scale-2);
}

.home {
    --stack-space: var(--scale-2);

    padding-block: var(--scale-3);
}

.home header h1 {
    font-size: calc(var(--scale-3) + 2vw);
}

.home header p {
    font-size: calc(var(--scale-1) + 1vw);
}

:where(.btn) {
    all: unset;
}

.btn {
    display: block;
    padding: 1em 2em;
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-400);
    font-weight: bold;
    cursor: pointer;
}

.page-nav {
    position: fixed;
    inset: 0;
    background-color: var(--clr-neutral-400);
    min-height: 100vh;
    transition: transform 500ms ease-out;
    transform-origin: top right;
    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


.page-nav-menu {
    padding-block: var(--scale-2);
}

.page-nav-list a {
    font-size: var(--scale-1);
    text-decoration: none;
}

.page-nav[data-closed] {
    transform: rotateZ(-45deg) translateX(160%);
}

.card {
    --stack-space: var(--scale-1);

    border: 4px dashed var(--clr-text-400);
    padding: var(--scale-1);
}

.card footer {
    font-size: 1.1em;
}

.list-page-header {
    margin-block: var(--scale-2);
}

.list-page-list {
    --stack-space: var(--scale-2);
}