.stack > * + * {
    margin-block-start: var(--stack-space, var(--scale-0));
}

.cluster {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: var(--cluster-space, var(--scale-0));
}

.cluster[data-side="right"] {
    justify-content: flex-end;
}

.cluster[data-split] {
    justify-content: space-between;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    padding-inline: var(--scale-2);
    max-width: 70ch;
    margin-inline: auto;
}