.stylish-underline::after {
    content: "";
    display: block;
    width: 7ch;
    height: .25em;
    background-color: var(--clr-accent-400);
}

.nostyle {
    all: unset;
}

[data-clickable] {
    cursor: pointer;
}