.stylish-underline::after {
    content: "";
    display: block;
    width: 7ch;
    height: calc(var(--scale-0) / 2);
    background-color: var(--clr-accent-400);
}

.nostyle {
    all: unset;
}

[data-clickable] {
    cursor: pointer;
}

.border {
    border: 4px dashed var(--clr-text-400);
    padding: var(--scale-0);
}